<body class="result_body">
    <p class="all_result_title">定期試験結果一覧</p>
    <div class="all_result">
        <% if @testresults.present? %>
            <table border="1" class="result_table">
                <thead>
                    <tr>
                        <th></th>
                        <th>生徒氏名</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>英語</th>
                        <th>数学</th>
                        <th>国語</th>
                        <th>理科</th>
                        <th>社会</th>
                        <th>美術</th>
                        <th>体育</th>
                        <th>技家</th>
                        <th>音楽</th>
                        <th>5教科合計</th>
                        <th>クラス順位</th>
                        <th>学年順位</th>
                        <th>登録者</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render @testresults %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>