/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@font-face {
    font-family: 'my-font';
    src: url('mgenplus-1c-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*application*/
.header{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.user_name{
    font-size: 15px;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left:30px;
}
.user_name_item{
    text-decoration: none;
    color: blue
}
.login_logout{
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right:15px;
}
.main_menu_btn{
    color: #66CCFF;
    background-color: white;
    text-decoration: none;
    font-size:18px;
    padding: 3px;
    border: solid 1px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    margin-right: 15px;
}
.main_menu_btn:hover{
    background-color: #66CCFF;
    color: white;
}
.main_menu_btn_sukurepo{
    color: rgb(0, 105, 121);
}
.main_menu_btn_sukurepo:hover{
    background-color: rgb(0, 105, 121);
    color: white;
}
.btn_login_logout{
    color: red;
    background-color: white;
    text-decoration: none;
    font-size:18px;
    padding: 3px;
    border: solid 1px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}
.btn_login_logout:hover{
    background-color: red;
    color: white;
}
/*application*/


/*新規登録画面*/
.signup_body{
    font-family: 'my-font';
    background-color: #EEEEEE;
    text-align: center;
    height: 100%;
    margin: 0;
}
.page_title{
    margin-top:30px;
}
.log-in-inner{
    background-color: white;
    width:50%;
    margin: 0 auto;
    font-size:20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.login_title{
    padding-top: 20px;
}
.form-group{
    padding-bottom:24px;
    display: flex;
    flex-direction: column;
    width:75%;
    margin: 0 auto;
}
.login_item_label{
    margin-bottom: 5px;
}
.form-control{
    padding:2px;
    border-radius: 10px;
}
.btn-group{
    padding:15px;
}
.btn_signup{
    background-color: white;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 7px;
    transition: all 0.3s ease 0s;
}
.btn_signup:hover{
    background: #333;
    color: #fff;
}
/*新規登録画面*/


/*ログイン画面*/
.right_alert{
    font-size: 12px;
}
/*ログイン画面*/