// Place all the styles related to the highfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new
.file_field{
    padding-left: 70px;
}

// _highfile
.highfile_image{
    margin: 0 auto;
}

// show
.highfile_show_image{
    margin: 30px auto;
}