// Place all the styles related to the ittoexams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ittoexams/index
.ittoexam_search_group{
    background-color: white;
    width: 30%;
    text-align: center;
    margin: 40px auto;
    box-shadow: 0 0 8px gray;
    border-radius: 15px;
}
.ittoexam_serchparameters{
    margin: 0px;
    text-align: center;
    font-size: 20px;
}
.ittoexam_result_table{
    background-color: white;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    margin: 30px auto;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-bottom: 50px;
}
.ittoexam_hidden_btn{
    margin-bottom: 3px;
    background-color: white;
    border-color: white;
    border: none;
}
.ittoexam_table{
    text-align: center;
}
.student_table_group{
    width: 85%;
    margin: 0 auto;
}


// 1280 macbook13インチ 900タブレット　560スマホ

@media (max-width: 1279px){
.ittoexam_result_table{
    padding: 10px;
}
.ittoexam_result_table{
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
}
.student_table_group{
    overflow-x: scroll;
    overflow-y: hidden;
}
}

@media (max-width: 900px){
}

@media (max-width: 560px){
.ittoexam_serchparameters{
    margin-top: 15px;
}
}
// ittoexams/index

// ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿

// ittoexams_new
.ittoexam_score{
    margin-top: 30px;
    margin-bottom: 20px;
}
.ittoexam_new_sub{
    display: flex;
    justify-content: center;
}
.ittoexam_form_control{
    width: 50px;
}
.ittoexam_new_btn{
    margin-bottom: 10px;
}

// 1280 macbook13インチ 900タブレット　560スマホ

@media (max-width: 1279px){
}

@media (max-width: 900px){
.ittoexam_search_group{
    width: 50%;
}
}

@media (max-width: 560px){
.ittoexam_search_group{
    width: 75%;
}
}