// Place all the styles related to the mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_body{
    font-family: 'my-font';
    background-color: #EEEEEE;
    margin: 0;
    text-align: center;
}
.main_menu_title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu_table{
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    align-items: flex-start;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    border-radius: 15px;
}

.main_menu_table{
    background-color: white;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.menu_item{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px 60px 10px 60px;
    border-radius: 15px;
    border : solid 1px #333 ; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: all 0.3s ease 0s;
}
.menu_item:hover{
    background: #333;
    color: #fff;
}

.main_intro{
    width: 80%;
    margin: 10px auto;
}
.main_intro_item {
    padding: 0;
}

// 1280 macbook13インチ 900タブレット　560スマホ

@media (max-width: 1279px){
.menu_table{
    width: 75%;
}
}

@media (max-width: 900px){
.main_menu_table{
    margin: 0px 10px 0px 10px;
}
.menu_item{
    padding: 15px 20px 15px 20px;
    width: 100%;
}
}

@media (max-width: 560px){
.menu_table{
    flex-direction: column;
    margin: 0px auto;
    padding: 20px;
    border-radius: 15px;
}
.main_menu_table{
    background-color: white;
    margin: 10px auto;
}
.menu_item{
    padding: 15px 30px 15px 30px;
    width: 100%;
}
.main_intro{
    text-align: left;
}
}

