
// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reports/index
.report_body{
    font-family: 'my-font';
    background-color: #EEEEEE;
    height: 100%;
    margin: 0;
}
.menu_group{
    margin: 40px 20px 20px 20px;
}
.report_menu_item{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    border-radius: 7px;
    border : solid 1px #333 ; 
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: all 0.3s ease 0s;
}
.report_menu_item:hover{
    background: #333;
    color: #fff;
}
.search_group{
    background-color: white;
    width: 50%;
    text-align: center;
    margin: 40px auto;
    box-shadow: 0 0 8px gray;
    border-radius: 15px;
}
.search_title{
    font-size:20px;
    margin: 0px;
    padding-top: 15px; 
}
.search_box{
    background-color: #EEEEEE;
    padding: 5px 30px 5px 30px;
    margin: 15px;
}
.search_btn{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    border-radius: 7px;
    border : solid 1px #333 ; 
    margin-right: 10px;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.search_btn:hover{
    background: #333;
    color: #fff;
}
input, select{
    font-family: 'my-font';
    font-size: 100%;
}
.paginate{
    text-align: center;
    margin-bottom: 20px;
}
// reports/index


// reports/_report
ul{
    list-style: none;
}
.report{
    background-color: white;
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
}
.report_info{
    border-bottom: solid 1px #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
.report_info_item{
    margin-left: 15px;
}
.report_name{
    color: red;
    margin: 0;
    text-decoration: none;
}
.report_name:hover{
    opacity: 0.5;
}
.report_user{
    color: blue;
}
.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: gray; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */
}
.star5_rating:before, .star5_rating:after{
    content: '★★★★';
}
.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}
.star5_rating[data-rate="4"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="3"]:after{ width: 75%; } /* 星4.5 */
.star5_rating[data-rate="2"]:after{ width: 50%; } /* 星4 */
.star5_rating[data-rate="1"]:after{ width: 25%; } 
// reports/_report



// reports/new
.report_new_body{
    font-family: 'my-font';
    background-color: #EEEEEE;
    text-align: center;
    height: 100%;
    margin: 0;
}
.report_form{
    background-color: white;
    width:50%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.report_form_group{
    margin-bottom: 10px;
}
// reports/new

