// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.school_body{
    font-family: 'my-font';
    background-color: #99CCFF;
    text-align: center;
    height: 100%;
    margin: 0;
}
.school_form{
    background-color:#66CCFF;
    width:30%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
}
.form_group.school_form_group{
    padding-top: 10px;
}
.all_table{
    margin: 0;
    width:50%;
    }