// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// students/index 生徒追加フォーム
.student_body{
    font-family: 'my-font';
    background-color: #EEEEEE;
    text-align: center;
    height: 100%;
    margin: 0;
}
.student_title{
    margin: 0px;
    margin-top: 5px;
}
.student_form{
    background-color: white;
    width:50%;
    margin: 40px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
    }
.form_group.student_form_group{
    padding-top: 5px;
    padding-bottom: 5px;
}
.name_group{
    display: flex;
}
.btn_student{
    margin-bottom: 5px;
}
// students/index 生徒追加フォーム


// students/index 生徒一覧
.student_classifying{
    font-size: 20px;
}
.student_table{
    background-color: white;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width:75%;
}
// students/index 生徒一覧


// students/show
.student_page_table{
    border-radius: 5px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
     margin-top: 40px;
}
.graph_area{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}
.graph_title{
    margin: 0px;
    margin: 10px;
}
.result_graph{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.late_report_item_student{
    color: blue;
}
// students/show