
<p>ITTO個別指導学院高坂駅前校塾内システムのアドレス確認メールです。</p>
<p>下の「メールを確認」をクリックしてください。</p>

<p><%= link_to 'メールを確認', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>クリック後ログインを許可する設定を行いますので、連絡をお願いします。</p>
